.showArea {
  border: 2px solid black;
  border-radius: 5px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow-y: scroll;
}

.showUsers {
  border: 2px solid black;
  border-radius: 5px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow-y: scroll;
}

.mymsg {
  border: 1px solid blue;
  border-radius: 5px;
  width: 375px;
  margin: 5px 2px 5px 50px;
  align-self: flex-end;
  background-color: blue;
  color: white;
}

.yourmsg {
  border: 1px solid black;
  border-radius: 5px;
  width: 375px;
  margin: 5px 50px 5px 2px;
  align-self: flex-start;
  background-color: grey;
  color: white;
}

.chatHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chatHead Button {
  height: 30px;
  width:30px;
  margin: 3px;
  font-size: 12px;
}
