.showArea {
  border: 2px solid black;
  border-radius: 5px;
  height: 65vh;
  width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow-y: scroll;
}

.users {
  position: fixed;
  top: 80px;
  right: 5px;
  border: 2px solid black;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  background-color: green;
  color: black;
  padding: 5px;
}

.showUsers {
  position: fixed;
  right: 10px;
  top: 118px;
  border: 2px solid black;
  border-radius: 5px;
  height: 80vh;
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow-y: scroll;
  display: none;
}

.users:hover + .showUsers {
  display: block;
}

.showUsers:hover {
  display: block;
}

.mymsg {
  border: 1px solid green;
  border-radius: 5px;
  width: 375px;
  margin: 5px 2px 5px 50px;
  align-self: flex-end;
  background-color: #28a745;
  color: white;
}

.yourmsg {
  border: 1px solid black;
  border-radius: 5px;
  width: 375px;
  margin: 5px 50px 5px 2px;
  align-self: flex-start;
  background-color: grey;
  color: white;
}

.chatHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chatHead Button {
  height: 30px;
  width:30px;
  margin: 3px;
  font-size: 12px;
}

@media only screen and (max-width: 780px) {
  .showArea {
    width: 500px;
    min-width:  385px;
  }

  .showUsers {
    position: static;
    height: 150px;
    width: 500px;
    margin-top: 20px;
    display: block;
  }

  .users {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .showArea {
    width: 640px;
  }
}
